<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" 
                 scriptProcessor="C:\inetpub\wwwroot\project\HRMS\env\Scripts\python.exe|C:\inetpub\wwwroot\project\HRMS\env\Lib\site-packages\wfastcgi.py" 
                 resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <security>
        <requestFiltering allowDoubleEscaping="true"/>
        </security>
    </system.webServer>
    <appSettings>
        <add key="DJANGO_SETTINGS_MODULE" value="horilla.settings" />
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\project\HRMS" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    </appSettings>
</configuration>
